body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f8ff; /* 明るいブルー */
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #1e90ff; /* 明るいブルー */
  color: #fff;
  padding: 10px;
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  font-family: 'Montserrat', sans-serif; /* タイトル用フォント */
  font-weight: bold;
}

.main {
  display: flex;
  flex: 1;
  margin-top: 60px; /* ヘッダー分のマージン */
}

.sidebar {
  width: 180px;
  background-color: rgba(44, 62, 80, 0.9);
  color: #ecf0f1;
  padding: 10px;
  position: fixed;
  top: 60px;
  left: 0;
  height: calc(100vh - 60px);
  overflow-y: auto;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
}

.sidebar-show {
  transform: translateX(0);
}

.content {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.main-content {
  max-width: 800px;
  width: 100%;
  padding: 20px;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff; /* ホワイト */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: 'Lato', sans-serif; /* 本文用フォント */
}

footer {
  background-color: #1e90ff; /* 明るいブルー */
  color: #fff;
  text-align: center;
  padding: 10px;
  width: 100%;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    height: auto;
  }

  .content {
    margin-left: 0;
  }

  .main-content {
    padding: 10px;
  }
}

.scroll-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background-color: #f39c12; /* オレンジ */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
